.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#salaryIncrementResult p {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 160px;
}
 

/*==================== Form CSS ====================================================*/

#form-container {
    display: table;
    margin: 0 auto;
    background: #f4f4f4;
    padding-bottom: 45px;
    width: 65%;
}

form {
    display: inline-block;
    width: 50%;
    padding-top: 15px;
}

form input::placeholder {
    text-transform: capitalize;
    color: #c6c6c6;
}

form input {
    width: 89.5%;
    height: 24px;
    padding-left: 6px;
}


#form-container h4 {
    margin: 5px 0 0 15px;
    font-size: 30px;
    color: #035572;
}

#form-container>p {
    font-size: 15px;
    margin: 30px 0 25px 15px;
    color: #808080;
    word-spacing: 4px;
}

#registerForm h5 {
    margin: 0 0 0 7.1%;
    display: inline;
    font-size: 19px;
    text-transform: uppercase;
    color: #808080;
}

#registerForm h5 span {
    color: #035572;
}

#registerForm p,
#loginForm p {
    text-align: left;
    padding-left: 28px;
}

#registerForm p input {
    border: 2px solid red;
}

#registerForm p input[type='submit'] {
    float: right;
    width: 30%;
    border: 2px solid #035572;
    background: transparent;
    text-transform: capitalize;
    color: #035572;
    margin-right: 8.5%;
    height: 34px;
    font-weight: bold;
}

#loginForm {
    background: #035572;
    width: 48%;
    vertical-align: top;
    height: 261px;
}

#loginForm h5 {
    padding-left: 19px;
    text-transform: uppercase;
    font-size: 19px;
    margin: 0;
    word-spacing: 2px;
}

#loginForm p input[type='submit'] {
    width: 30%;
    margin-right: 7.5%;
    float: right;
    background: transparent;
    border: 2px solid orange;
    height: 34px;
    font-weight: bold;
    color: #fff;
}

#loginForm p input[type='checkbox'] {
    width: initial;
    vertical-align: middle;
    margin: 0;
}


#loginForm #checkbox {
    text-align: initial;
    font-size: 14px;
    display: inline;
}

#loginForm #loginBtn {
    display: inline;
}

#loginForm p a {
    font-size: 12px;
    margin-top: 5px;
    color: #fff;
}

#loginForm #forgotPass {
    margin: 2px 11.5% 0 0;
    display: inline;
    float: right;
}

table {
    border: 1px solid #fff;
    margin: 0 auto;
    border-collapse: collapse;
}

table caption {
    margin-bottom: 20px;
}

table th,
table td {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}

table tfoot {
    border: 1px solid #ffffff;
}

body {
    padding-top: 108px;
    font-family: 'Roboto Condensed', sans-serif;
    background: url("http://i.imgur.com/Rm2NpV2.jpg") no-repeat;
    margin: 0;
    background-size: cover;
}

body p {
    font-size: 17px;
}

body>header {
    margin-bottom: 40px;
    padding: 0 8px 0 8px;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    background: #ffffff;
    top: 0;
    z-index: 3;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body>header .container1 {
    position: relative;
}

body>header h1 {
    display: inline-block;
    position: absolute;
    left: 0;
    color: #35D8F9;
    margin-top: 8px;
}

body>header h1 a {
    text-decoration: none;
    color: #035572;
    text-transform: uppercase;
    vertical-align: sub;    
}

/*   Main Navigation styles  */

nav {
    list-style: none;
    display: inline-block;
}

nav h2 {
    display: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 14px;
    margin-bottom: 12px;
}

ul li {
    float: left;
    position: relative;
}

ul li a {
    text-decoration: none;
}

ul li a h4 {
    padding-right: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #172679;
    font-size: 15px;
}

/* Dropdown Navigation styles */

a #arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #172679;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
    position: relative;
    right: 8px;
}

a ul {
    position: absolute;
    display: none;
    width: 135px;
    top: 20px;
}

a ul li {
    float: none;
    background-color: #ffffff;
    padding: 10px;
    color: #172679;
    font-size: 13px;
    border-bottom: 1px solid #eaf8ff;
}

a ul li:hover {
    background-color: #35D8F9;
    color: white;
}

a ul li:last-child {
    border: none;
}

li:hover ul {
    display: block;
    border: 1px solid #35D8F9;
}

#social {
    display: inline-block;
    padding-right: 0;
    margin-right: 4px;
}
/* Main section Styles */

/*main section h3 {
    display: none;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    margin: 0 auto 40px auto;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}*/

main article {
    padding: 0 0 80px 0;
    position: relative;
    z-index: 2;
}

main article p {
    padding: 0 8px 0 8px;
}
/*Popover & figure section styles */
#popOver {
    padding-top: 80px;
}
.popover{
    color: black;
}
.button-group{
    display: table;
}
.button-group button{
    margin: 0 4px;
}
figure {
    margin: 0;
  }

figure div {
    margin: 0 auto;
}

figure figcaption {
    clear: both;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    padding: 20px 0;
}
/*About us section styles */

#aboutUs {
    margin: 90px 0;
}

/* footer styles */

footer,
main {
    color: #ffffff;
}



















































































